<!DOCTYPE html>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-tw" lang="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
  <head>
    <title>Realtime Traffic Information</title>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='csmapi.js') }}"></script>
    <script src="{{ url_for('static', filename='dan.js') }}"></script>
    <script src="{{ url_for('static', filename='dai.js') }}"></script>
    <script src="{{ url_for('static', filename='dai-app.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='img/history_start_icon.png') }}"></script> -->
    <script type=text/javascript src="{{ url_for('static', filename='jquery.datetimepicker.full.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT1MkhTlOJjKg1NLqb0yyD_0o3Q6_-dr8&libraries=places"></script>
    <!-- <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJJZnblGUcntIKP4Cn0TZv5UzBN4xDSB0"></script> --><!-- AIzaSyCT1MkhTlOJjKg1NLqb0yyD_0o3Q6_-dr8 -->
    <script type="text/javascript" src="{{ url_for('static', filename='map-icons.js') }}"></script> 
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
    

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>


  </head>
  <!-- <body>
    
   
    <div id="Location-map"></div>
    <div id="videoBox">
      <button  id="fuck_off">close</button>
      <iframe id = "Video-Display" width="420" height="236" src="" frameborder="0" allowfullscreen></iframe>       
     
    </div>
    
    <div id="static">
      <button class="button_s" id="button_s1">取消</button>
      <button class="button_s" id="button_s2">路障</button>
      <button class="button_s" id="button_s3">攝影機</button>
      <button class="button_s" id="button_s4">歷史紀錄</button>
      <button class="button_s" id="button_s5">路徑規劃</button>
    </div>
    
    <div id="dynamic">
      <button class="button_d" id="button_d1">狗</button>
      
    </div>
    
    <ul>
      <li class="function" id="function_but">Function</li>
        <ul>
          <li class="button_sm" id="button_sm2"><a>路障</a>
            <ul>
              <li class="button" id="ob_add"><a>Add</a></li>
              <li class="button" id="ob_upd"><a>Update</a></li>
              <li class="button" id="ob_rm"><a>Remove</a></li>
              </ul>
            </li>
            <li class="button_sm" id="button_sm3"><a>攝影機</a>
              <ul>
                <li class="button" id="cam_add"><a>Add</a></li>
                <li class="button" id="cam_upd"><a>Update</a></li>
                <li class="button" id="cam_rm" ><a>Remove</a></li>
              </ul>
          </li>
        </ul>
    </ul>
    
  </body> -->

<header>
    <ul id="list" class="nav nav-pills ">
      <li role="presentation" class="dropdown" class="active">
      <!--   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          功能 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li id="button_s5" style="cursor:pointer"><a>路徑規劃</a></li>
          <li id="cam_add" style="cursor:pointer"><a>新增攝影機</a></li>
          <li id="ob_add" style="cursor:pointer"><a>新增路障</a></li>
        </ul>
      </li> -->
      <li role="presentation" class="active" id="button_s3" style="cursor:pointer" ><a>攝影機</a></li>
      <li role="presentation" class="active" id="button_s2" style="cursor:pointer"><a>路障</a></li>
      <li role="presentation" id="button_route" style="cursor:pointer"><a id="text">路徑規劃</a></li>

      
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <form method="post" id="history_trace" style="font-size:18px;">
              <label class="radio-inline" >
                <input type="radio" name="optradio" id="inlineRadio1" value="active_marker" style="height: 18px; width: 18px;" checked > &nbsp;當前位置
              </label><br>
              <label class="radio-inline">
                <input type="radio" name="optradio" id="inlineRadio2" value="recent_hour" style="height: 18px; width: 18px;"> &nbsp;最近一分鐘
              </label><br>
              <label class="radio-inline">
                <input type="radio" name="optradio" id="inlineRadio3" value="recent_day" style="height: 18px; width: 18px;"> &nbsp;最近一小時
              </label>

            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button> -->
              <input type="submit" value="確認" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">
              <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" id="history_check" style="font-size:18px;">確認</button> -->
            </div>
          </form>
          </div>
        </div>
      </div>
      

  <!--     <li role="presentation" class="disabled" id="dog" style="cursor:pointer"><a>狗</a></li> -->
      <!-- <li id="dog" role="presentation" class="dropdown" class="active">
        <a id="dog_dropdown" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false" >
          mark <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="dog-list"> -->
<!--           <li id="button_d1" style="cursor:pointer"><a>狗1</a></li>
          <li id="cam_add" style="cursor:pointer"><a>狗2</a></li>
          <li id="ob_add" style="cursor:pointer"><a>狗3</a></li> -->
        <!-- </ul>
      </li> -->
      </li>
    </ul>
  </header>
  <body>

    <div id="input_destination" style="display:none">
  <div class="bg-primary form-inline" style="margin-top:1px ;margin-bottom: 0px" >
      <div class="form-group " style="margin-bottom: 0px">
        <div style="height:5px;"> &nbsp; </div>
        <label  class="col-sm-2 col-2 col-xl-2">起點</label>
        <div class="col-sm-10 col-10 col-xl-10">
          <!-- <input readonly disabled class="form-control" placeholder="現在位置"> -->
          <input id="autocomplete2" type="text" class="form-control controls"  placeholder="現在位置">
        </div>
        <div style="height:5px;"> &nbsp; </div>
      </div>
  </div>

  <div class="bg-primary form-inline" style="margin-bottom: 0px">
      <div class="form-group " style="margin-bottom: 0px">
        <label  class="col-sm-2 col-2 col-xl-2">終點</label>
        <div class="col-sm-10 col-10 col-xl-10">
          <input  id="autocomplete" type="text" class="form-control controls"  placeholder="選擇目的地">
        </div>
      </div>
      <br>
      
      <button type="submit" id="button_s5" class="btn pull-right btn-primary" style="margin: 15px">立即出發</button>
  </div>
  </div>
    <div id="snackbar"></div>

    <div id="Location-map">  </div>
      <button style="display: none;" id="fuck_off" class="btn btn-default">X</button>
  <div class="container" id="wrapper" overflow="hidden" >
      <img src=""  id = "Video-Display" class="shrinkToFit" width="495" height="278" style="display: none;">
  </div>       
        
  </body>
</html>