html,body{
    max-height: 100%;
    max-width: 100%;
    
}


#Video-Display{
    position:absolute;
    left:0%;
    z-index: 10;
    top: 90px;
    height: 315px;
    width: 560px;
    margin: 0;
    padding: 0;
}

#Location-map
{
    position: absolute;
    left: 0%;
    top: 41px;
    height: 94%;
    width: 100%;
    z-index: -50;
    margin: 0;
    
}

#fuck_off{
  position: absolute;
  z-index: 20;
  left:530px;
  top:90px;
}
@media (max-width: 811px) {

    #Video-Display{
        max-width:100%;
        max-height: 100%;
        top:30%;
        
        
    }
    #fuck_off{
      /*margin-left: 5px;*/
      left:530px;
      top:30%;  
    }

}
@media (max-width: 480px) {

    #Video-Display{
        max-width:100%;
        max-height: 40%;
        top:33%;
        
        
    }
    #fuck_off{
      /*margin-left: 5px;*/
      left:90%;
      top:33%;  
    }

}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 20; /* Add a z-index if needed */
    left: 45%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}

}
@media (max-width: 811px) {


@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*@media (max-width: 559px) {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}*/